@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Acasa</h2>
<br />

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Categories/Index/">Afisare categorii</a>
    <br />
    <a class="btn btn-outline-success" href="/Posts/Index">Afisare postari</a>
    <br />
    <a class="btn btn-outline-success" href="/Products/Index/">Afisare produse</a>

</div>









